In [3]:
import pandas as pd
import numpy as np

In [9]:
df =pd.read_excel('매출데이터.xlsx')
df
# read_csv

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액
0,2024-03-03,명동점,P1009,유기농 당근,C5447,여,60대,현금,3.0,1800,0.00,5400.0,0.28,1512.0
1,2024-03-04,홍대점,P1005,닭가슴살팩,C9831,여,20대,모바일페이,3.0,4000,0.10,10800.0,0.32,3456.0
2,2024-03-07,강남점,P1006,블루베리,C3202,여,50대,모바일페이,4.0,5000,0.15,17000.0,0.40,6800.0
3,2024-03-11,명동점,P1003,저지방 우유,C1239,여,50대,현금,5.0,2200,0.10,9900.0,0.25,2475.0
4,2024-03-11,강남점,P1007,그릭요거트,C9368,남,50대,모바일페이,2.0,3800,0.10,6840.0,0.33,2257.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2025-02-25,명동점,P1007,그릭요거트,C1896,남,40대,모바일페이,4.0,3800,0.05,14440.0,0.33,4765.2
196,2025-02-26,강남점,P1004,통밀 식빵,C8696,남,50대,카드,4.0,3500,0.00,14000.0,0.28,3920.0
197,2025-02-27,명동점,P1003,저지방 우유,C2047,남,20대,모바일페이,2.0,2200,0.00,4400.0,0.25,1100.0
198,2025-02-28,홍대점,P1008,오트밀,C8563,여,60대,모바일페이,3.0,3200,0.05,9120.0,0.30,2736.0
199,2025-02-28,명동점,P1003,저지방 우유,C6486,여,20대,카드,3.0,2200,0.15,5610.0,0.25,1402.5

In [157]:
df = pd.read_excel('250124 엑셀 연습 파일.xlsx',
             sheet_name = '9셀병합',
             skiprows=4 , usecols=['구분', '부서', '상품코드', '상품명', '단가(원)', '판매수량(개)', '총액(원)'])

first_row = df['구분'].str.contains('병합을') == True
first_index = df[first_row].index

df = df.iloc[:first_index[0], :]
df = df[df['상품코드'].notna()]

df[['구분', '부서']] = df[['구분', '부서']].ffill()

df

     구분    부서  상품코드     상품명 단가(원) 판매수량(개)   총액(원)
0   지원부   인사팀  P001   하트크림빵  2500     150  375000
1   지원부   인사팀  P002  장미소보로빵  1750     100  175000
2   지원부   인사팀  P003   딸기치즈빵  2100     120  252000
3   지원부   재무팀  P004  초코슈크림빵  1400     150  210000
4   지원부   재무팀  P001   하트크림빵  2500     110  275000
5   지원부   재무팀  P002  장미소보로빵  1750     160  280000
6   지원부   재무팀  P003   딸기치즈빵  2100     140  294000
7   지원부   재무팀  P005  버터크로와상  2000      70  140000
8   지원부   기획팀  P004  초코슈크림빵  1400     120  168000
9   지원부   기획팀  P001   하트크림빵  2500     180  450000
10  지원부   기획팀  P003   딸기치즈빵  2100     200  420000
11  지원부   기획팀  P002  장미소보로빵  1750     150  262500
12  지원부   기획팀  P005  버터크로와상  2000     110  220000
13  현장부  마케팅팀  P004  초코슈크림빵  1400     200  280000
14  현장부  마케팅팀  P005  버터크로와상  2000     180  360000
15  현장부  마케팅팀  P001   하트크림빵  2500     220  550000
16  현장부   영업팀  P002  장미소보로빵  1750     130  227500
17  현장부   영업팀  P003   딸기치즈빵  2100     170  357000
18  현장부   영업팀  P005  버터크로와상  2000      90  180000

In [163]:
df.to_excel('test.xlsx')

In [161]:
df[['구분', '단가(원)', '총액(원)']].groupby('구분').mean()

           단가(원)          총액(원)
구분
지원부  1988.461538  270884.615385
현장부  1958.333333       325750.0

In [135]:
pd.concat
pd.merge

     구분    부서  상품코드     상품명 단가(원) 판매수량(개)   총액(원)
0   지원부   인사팀  P001   하트크림빵  2500     150  375000
1   NaN   NaN  P002  장미소보로빵  1750     100  175000
2   NaN   NaN  P003   딸기치즈빵  2100     120  252000
3   NaN   재무팀  P004  초코슈크림빵  1400     150  210000
4   NaN   NaN  P001   하트크림빵  2500     110  275000
5   NaN   NaN  P002  장미소보로빵  1750     160  280000
6   NaN   NaN  P003   딸기치즈빵  2100     140  294000
7   NaN   NaN  P005  버터크로와상  2000      70  140000
8   NaN   기획팀  P004  초코슈크림빵  1400     120  168000
9   NaN   NaN  P001   하트크림빵  2500     180  450000
10  NaN   NaN  P003   딸기치즈빵  2100     200  420000
11  NaN   NaN  P002  장미소보로빵  1750     150  262500
12  NaN   NaN  P005  버터크로와상  2000     110  220000
13  현장부  마케팅팀  P004  초코슈크림빵  1400     200  280000
14  NaN   NaN  P005  버터크로와상  2000     180  360000
15  NaN   NaN  P001   하트크림빵  2500     220  550000
16  NaN   영업팀  P002  장미소보로빵  1750     130  227500
17  NaN   NaN  P003   딸기치즈빵  2100     170  357000
18  NaN   NaN  P005  버터크로와상  2000      90  180000