# 2회차 스터디
 - 1회차 복습
 - 데이터 분석과정
 - 데이터 불러오기
 - 시각화

# 파이썬 기초 문법(복습)

In [48]:
import pandas as pd
import numpy as np

## 변수 만들기

In [12]:
name = "홍길동"
age = 35
height = 170
print(f"""이름: {name}, 나이: {age}, 키: {height}""")    # f-string

이름: 홍길동, 나이: 35, 키: 170

In [13]:
# 내 마음대로 변수 이름을 지을 수 있습니다.
# 그렇다면 어떤 일이 벌어질까요?
age = 170.5     
height = 35
print(f"""이름: {name}, 나이: {age}, 키: {height}""")    # f-string

이름: 홍길동, 나이: 170.5, 키: 35

In [11]:
# 변수 타입 확인
type(이름), type(age), type(height)

(str, float, int)

In [7]:
# 한글 변수명도 가능합니다.
인사말 = '안녕하세요'
print(인사말)

안녕하세요

In [17]:
# 리스트도 가능합니다.
lst = [1, 2, 3, 4, 5]
print(lst, type(lst))

[1, 2, 3, 4, 5] <class 'list'>

## 연산자

In [ ]:
a = 10
b = 3
# 산술연산
print(a + b)   # 덧셈 → 13
print(a - b)   # 뺄셈 → 7
print(a * b)   # 곱셈 → 30
print(a / b)   # 나눗셈 (실수 결과) → 3.333...
print(a // b)  # 몫 → 3
print(a % b)   # 나머지 → 1
print(a ** b)  # 거듭제곱 → 1000

13
7
30
3.3333333333333335
3
1
1000

In [16]:
a, b = 5, 10

# 비교연산
print(a == b)   # 같음 → False
print(a != b)   # 다름 → True
print(a > b)    # 큼 → False
print(a < b)    # 작음 → True
print(a >= b)   # 크거나 같음 → False
print(a <= b)   # 작거나 같음 → True

False
True
False
True
False
True

In [ ]:
# 대입
a = 10
a = a + 5
a = a - 3
a = a * 2
a = a / 4
print(a)

6.0

In [ ]:
# 복합 대입 연산
a = 10
a += 5
a -= 3
a *= 2
a /= 4
print(a)

6.0

In [ ]:
# 문자열 생성과 출력
s1 = "Hello"
s2 = 'World'
s3 = """여러 줄
문자열도
가능"""
print(s1, s2, s3)

Hello World 여러 줄
문자열도
가능

In [49]:
#문자열 인덱싱과 슬라이싱
s = "Python"
print(s[0])    # 'P' (첫 번째 문자)
print(s[-1])   # 'n' (뒤에서 첫 번째)
print(s[0:3])  # 'Pyt' (슬라이싱)
print(s[::2])  # 'Pto' (2칸씩 건너뜀)

P
n
Pyt
Pto

In [51]:
# 문자열 메서드
text = "   Python is Fun!   "

print(text.lower())   # 소문자 변환
print(text.upper())   # 대문자 변환
print(text.strip())   # 양쪽 공백 제거
print(text.replace("Fun", "Awesome"))  # 치환
print(text.split())   # 공백 기준 분리 → ['Python', 'is', 'Fun!']
print("-".join(["2025", "08", "31"]))  # 결합 → '2025-08-31'

   python is fun!
   PYTHON IS FUN!
Python is Fun!
   Python is Awesome!
['Python', 'is', 'Fun!']
2025-08-31

In [55]:
# 주소 데이터를 활용하기
addr = "강원특별자치도 원주시 양지로 XXX"

parts = addr.split()

first = parts[0]   # '강원특별자치도'
second = parts[1]  # '원주시'

print(first)
print(second)

강원특별자치도
원주시

## 리스트
 - 인덱싱, 슬라이싱

| 구분   | 인덱싱 (Indexing)    | 슬라이싱 (Slicing)              |
|--------|----------------------|---------------------------------|
| 문법   | `lst[i]`             | `lst[start:end:step]`           |
| 결과   | **값 하나**          | **리스트 (여러 값)**            |
| 활용   | 특정 위치 값 추출     | 연속된 구간, 부분집합, 역순, 샘플링 |

#### 리스트 만들기

In [152]:
lst = [1,2,3,4,5]   # 빈 리스트는 lst = []
lst

[1, 2, 3, 4, 5]

In [157]:
lst = list(range(10))  # range를 쓸 수도 있습니다.
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 인덱싱과 슬라이싱

In [89]:
# 첫번째 요소 출력
lst[0]

0

In [154]:
#2~3번째 요소 출력
lst[1:3]

[1, 2]

In [155]:
# 마지막 요소 두개 출력
lst[-2:]

[8, 9]

In [162]:
lst[::2]  # 2칸씩 건너뜀

[0, 1, 3, 5, 7, 9]

In [160]:
# 역순
lst[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 5, 0]

In [ ]:
lst[::-2] # 역순 2칸씩

[10, 8, 6, 4, 2, 5]

##### 리스트 관련 함수
 - .append(#)
 - .insert(#1,#2) #1위치에, #2를 삽입
 - .index(#) #의 위치를 알려줌
 - .sort()
 - .reverse()
 - .remove(#) 리스트에서 첫번째 #삭제

In [ ]:
print(f'before - {lst}')
lst.append(10)  # 마지막에 10 추가
print(f' after - {lst}')

before - [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
after - [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
lst.insert(1, 5)  # 1번째 위치에 5 추가
lst

[0, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 데이터란?

0. 데이터의 정의
  - 데이터(Data)란 현실 세계에서 관찰되거나 측정된 사실, 개념, 명령 등의 값을 의미합니다.
  - DIKW 피라미드
    - 데이터(Data) → 정보(Information) → 지식(Knowledge) → 지혜(Wisdom)
      - **데이터(Data)**는 단순한 사실의 나열이지만
      - 이를 해석하면 **정보(Information)**가 되고
      - 축적·체계화되면 **지식(Knowledge)**
      - 더 나아가 상황에 적절히 활용할 수 있으면 **지혜(Wisdom)**로 발전
    - 데이터 기반 의사결정?
      - 경험이 많은 사람 = 지식과 지혜가 많이 축적
      - but, 시간이 지나면서, 데이터가 바뀜
        - 새로운 데이터와, 나의 지식과 지혜가 불일치.

---

## 1. 일상(업무)에서 겪는 문제
- **Why? 분석이 안되는가?**
- 엑셀로 데이터를 분석하는 방법
  1. **VLOOKUP**  
     - 두 테이블의 연결 → 새로운 정보 생산
  2. **Pivot**  
     - 데이터의 집계 (**그룹**별, 합, 평균)
- 올바른 형태로 데이터를 만드는 방법 (**DB 정규화**)
  1. 크로스탭 쿼리를 정규화하는 간단한 예시

---

## 2. 엑셀에서 파이썬으로 넘어가기, Why?
- 대량의 데이터 (**빅데이터**) 처리
- 여러 테이블의 연계
- 고급 분석 (예: **A/B Test**)
- 예측 모델링 (**Machine Learning**)

## 라이브러리

In [31]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [38]:
# 마음대로 as(알리아스) 지정한 케이스
# 일단 작동은 하는데... 코드 재사용성에 문제가 생깁니다.
import pandas as 나는내맘대로할래

### 데이터프레임

In [39]:
# 데이터 불러오기
df = pd.read_csv('./data/매출데이터.csv', encoding='utf-8')  # encoding='cp949'

In [42]:
# 나는내맘대로할래.read_csv('./data/매출데이터.csv', encoding='utf-8')  # 이렇게도 됩니다...

In [43]:
# 불러온 데이터 내용 확인 - gpt로 만든 데이터입니다.
df

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액
0,2024-03-03,명동점,P1009,유기농 당근,C5447,여,60대,현금,3.0,1800,0.00,5400.0,0.28,1512.0
1,2024-03-04,홍대점,P1005,닭가슴살팩,C9831,여,20대,모바일페이,3.0,4000,0.10,10800.0,0.32,3456.0
2,2024-03-07,강남점,P1006,블루베리,C3202,여,50대,모바일페이,4.0,5000,0.15,17000.0,0.40,6800.0
3,2024-03-11,명동점,P1003,저지방 우유,C1239,여,50대,현금,5.0,2200,0.10,9900.0,0.25,2475.0
4,2024-03-11,강남점,P1007,그릭요거트,C9368,남,50대,모바일페이,2.0,3800,0.10,6840.0,0.33,2257.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2025-02-25,명동점,P1007,그릭요거트,C1896,남,40대,모바일페이,4.0,3800,0.05,14440.0,0.33,4765.2
196,2025-02-26,강남점,P1004,통밀 식빵,C8696,남,50대,카드,4.0,3500,0.00,14000.0,0.28,3920.0
197,2025-02-27,명동점,P1003,저지방 우유,C2047,남,20대,모바일페이,2.0,2200,0.00,4400.0,0.25,1100.0
198,2025-02-28,홍대점,P1008,오트밀,C8563,여,60대,모바일페이,3.0,3200,0.05,9120.0,0.30,2736.0
199,2025-02-28,명동점,P1003,저지방 우유,C6486,여,20대,카드,3.0,2200,0.15,5610.0,0.25,1402.5

In [ ]:
a=1
print(type(a))
print(type(df))
#

<class 'int'>
<class 'pandas.core.frame.DataFrame'>

### df의 기본 함수(메서드)
* df라는 형식을 위해서 판다스에는 다양한 df용 함수들이 있습니다.

#### df 구조 확인
| 메서드와 속성         | 설명                              |
|----------------|-----------------------------------|
| df.head(n)     | 앞에서 n행 확인 (기본값 5)        |
| df.tail(n)     | 뒤에서 n행 확인                   |
| df.info()      | 전체 구조 및 결측값 요약          |
| df.describe()  | 수치형 열의 통계 요약              |
| df.shape       | (행, 열) 튜플 반환                 |
| df.columns     | 열 이름 확인                       |
| df.index       | 인덱스 확인                        |
| df.dtypes      | 열별 데이터 타입                   |

#### head 등
* head, tail, sample 함수는 df의 실제 데이터 일부를 확인하는 함수입니다.
* 빅데이터는 정말 크므로(몇백만~몇천만 혹은 그 이상, 실시간 업데이트 등) 엑셀 등 파일로 저장된 형태가 아닌 경우가 많습니다.
* 일부 데이터를 확인하여 데이터가 의도대로 잘 불러와졌는지 확인하는 기능입니다.

In [45]:
df.head()

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액
0,2024-03-03,명동점,P1009,유기농 당근,C5447,여,60대,현금,3.0,1800,0.00,5400.0,0.28,1512.0
1,2024-03-04,홍대점,P1005,닭가슴살팩,C9831,여,20대,모바일페이,3.0,4000,0.10,10800.0,0.32,3456.0
2,2024-03-07,강남점,P1006,블루베리,C3202,여,50대,모바일페이,4.0,5000,0.15,17000.0,0.40,6800.0
3,2024-03-11,명동점,P1003,저지방 우유,C1239,여,50대,현금,5.0,2200,0.10,9900.0,0.25,2475.0
4,2024-03-11,강남점,P1007,그릭요거트,C9368,남,50대,모바일페이,2.0,3800,0.10,6840.0,0.33,2257.2

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래일자    200 non-null    object
 1   매장명     200 non-null    object
 2   상품코드    200 non-null    object
 3   상품명     200 non-null    object
 4   고객ID    198 non-null    object
 5   성별      200 non-null    object
 6   연령대     198 non-null    object
 7   결제수단    200 non-null    object
 8   수량      198 non-null    float64
 9   단가      200 non-null    int64
 10  할인율     198 non-null    float64
 11  매출액     196 non-null    float64
 12  마진율     200 non-null    float64
 13  마진액     196 non-null    float64
dtypes: float64(5), int64(1), object(8)
memory usage: 22.0+ KB

In [48]:
df.shape   # (행의 수, 열의 수) 형태의 튜플을 반환

(200, 14)

#### describe()
* describe는 df의 수치형 자료에 대해 기본적인 통계량을 알려줍니다.
* 평균, 최대 최소값 등

In [68]:
df.describe().round(2)

           수량       단가     할인율       매출액     마진율      마진액
count  198.00   200.00  198.00    196.00  200.00   196.00
mean     3.03  3128.00    0.08   8721.02    0.31  2814.60
std      1.39   963.67    0.06   5107.61    0.04  1899.87
min      1.00  1800.00    0.00   1530.00    0.25   428.40
25%      2.00  2200.00    0.05   4475.00    0.28  1333.80
50%      3.00  3200.00    0.10   7785.00    0.30  2302.75
75%      4.00  3800.00    0.15  12307.50    0.33  3840.00
max      5.00  5000.00    0.15  23750.00    0.40  9500.00

* count : 결측을 제외한 데이터 갯수입니다.
* mean : 평균값
* std : 표준편차
* min, max : 최소 최대
* 25, 50, 75% : IQR이라고 하여, 분위수를 말합니다. 전체 분포에서 25%, 50%, 75% 순위에 있는 값입니다.
  * 분위수랑? 데이터를 작은 값부터 정렬했을 때, 순서대로 일정 비율에 해당하는 값.
  * 50% 가 평균 mean과 다른 이유
    * mean은 전체를 더한 후 나눈 값으로 가상의 값입니다.
    * 50% 는 중위수로, 200개의 값 중 100번쨰 값(중앙값)을 의미합니다.
      * (데이터 갯수가 짝수이므로, 정확하게는 100번째와 101번쨰의 평균입니다.)
    * 따라서 평균과 중위수가 다릅니다.

In [ ]:
df = df.astype({'성별': 'category', '연령대': 'category', '결제수단': 'category', '상품코드': 'category', '상품명': 'category', '매장명': 'category'})
df.describe(include='category')  # 범주형 데이터 요약

        매장명   상품코드     상품명   성별  연령대   결제수단
count   200    200     200  200  198    200
unique    4      9       9    2    5      3
top     홍대점  P1009  유기농 당근    여  40대  모바일페이
freq     61     33      33  105   49     70

##### 데이터의 구분
[위키독스 01. 데이터 타입 참고](https://wikidocs.net/161040)
 * 데이터는 크게 다음과 같이 나눕니다.
   * 텍스트 - 문장, 단어로 된 데이터
   * 날짜 - yyyy-mm-dd로 된 형태의 데이터
   * 범주 - 종류를 나눌 수 있는 데이터
     * 명목형 - 순서가 없음 (성별, 매장명, 상품코드 등)
     * 순서형 - 순서가 있음 (연령대)
   * 숫자
     * 이산형(정수형) - 판매량 등 (1개 2개 3개, 소수가 불가능)
     * 연속형 - 할인율 등 (0.1, 0.25 등 소수가 가능)

##### 범주형 데이터의 표현
* 범주형 데이터는 보통 코드로 나타냅니다.
  * 연령대가 10대, 20대 30대 40대 라면 (범주형이고, 연속형(순서가 있음))
    * 분석할 때 데이터는 1,2,3,4와 같이 숫자로 변환하곤 합니다.
* 특별히 성별과 같이 2 종류만 있는 범주형 데이터는 True(1) / False(0) 로 표현 가능
  * 이를 바이너리 코드 라고 하며, 0,1 만으로 충분히 표현 가능한 데이터를 말합니다.
  * 남성 -> 0, 여성 -> 1 같이 표현할 수 있습니다. 

| 구분       | 설명                           | 예시            |
|------------|--------------------------------|-----------------|
| 명목형     | 순서 없음                      | 성별, 지역, 색상 |
| 순서형     | 순서 있음                      | 학점(A,B,C), 연령대 |
| 이산형     | 정수형 숫자, 개수 셀 수 있음   | 수량, 판매건수   |
| 연속형     | 실수 포함, 무한히 쪼갤 수 있음 | 키, 할인율, 금액 |

## 데이터 필터링
원하는 데이터만을 추출하여 보는 방법입니다.
엑셀의 필터 기능과 유사합니다.
여러 방법이 있으나 다음 두 가지 방법이 기본입니다.
* df.iloc[n,m]  : n은 행, m은 열
* df.loc[]

| 항목        | .iloc                      | .loc                                 |
|-------------|----------------------------|--------------------------------------|
| 기준        | 인덱스 번호 (숫자) 기반     | 인덱스 이름 및 컬럼 이름 기반         |
| 사용 형태   | `df.iloc[행, 열]`          | `df.loc[행이름, 컬럼이름]`           |
| 예시        | `df.iloc[0, 2]`            | `df.loc[0, '상품명']`                |
| 장점        | 빠르고 직관적임             | 컬럼명을 사용하므로 가독성이 높음      |

### df.iloc 방식의 필터링
* iloc는 행과 열 숫자를 기반으로 값을 호출하는 함수입니다.
* df.iloc[n,m] 과 같이 특정 위치의 값을 호출하거나,
* ``` df.iloc[n_start:n_end:n_step,m_start:m_end:m_step]``` 같이 n0\~9 와 m~9범위의 값을 호출할 수도 있습니다.

In [73]:
df.iloc[0]   # 0번 인덱스 값 가져오기 # series 형태로 출력됨, 1,2,3,4... 도 해보세요

거래일자    2024-03-03
매장명            명동점
상품코드         P1009
상품명         유기농 당근
고객ID         C5447
성별               여
연령대            60대
결제수단            현금
수량             3.0
단가            1800
할인율            0.0
매출액         5400.0
마진율           0.28
마진액         1512.0
Name: 0, dtype: object

In [74]:
df.iloc[:,0:5]  # [: 로 전체 행, 0:5로 0~4번째까지의 컬럼 값을 호출

           거래일자  매장명   상품코드     상품명   고객ID
0    2024-03-03  명동점  P1009  유기농 당근  C5447
1    2024-03-04  홍대점  P1005   닭가슴살팩  C9831
2    2024-03-07  강남점  P1006    블루베리  C3202
3    2024-03-11  명동점  P1003  저지방 우유  C1239
4    2024-03-11  강남점  P1007   그릭요거트  C9368
..          ...  ...    ...     ...    ...
195  2025-02-25  명동점  P1007   그릭요거트  C1896
196  2025-02-26  강남점  P1004   통밀 식빵  C8696
197  2025-02-27  명동점  P1003  저지방 우유  C2047
198  2025-02-28  홍대점  P1008     오트밀  C8563
199  2025-02-28  명동점  P1003  저지방 우유  C6486

[200 rows x 5 columns]

In [75]:
df.iloc[0:100:5, 5:10] # 인덱스 기준으로 행은 0부터, 99까지 출력, 5개 단위로, 열은 5~9까지 5,6,7,8,9(5개 컬럼)

   성별  연령대   결제수단   수량    단가
0   여  60대     현금  3.0  1800
5   남  40대  모바일페이  3.0  3000
10  여  40대     현금  1.0  3200
15  여  40대     카드  2.0  1800
20  남  30대     현금  5.0  1800
25  남  50대  모바일페이  5.0  3800
30  남  30대     카드  1.0  3200
35  남  20대     현금  2.0  1800
40  남  40대     현금  5.0  2500
45  남  60대  모바일페이  5.0  3200
50  여  30대     카드  3.0  4000
55  남  60대  모바일페이  5.0  2200
60  남  50대     현금  2.0  2200
65  여  20대     현금  1.0  3800
70  남  30대     카드  4.0  5000
75  여  20대     현금  2.0  1800
80  남  60대     카드  3.0  3800
85  남  50대  모바일페이  1.0  3000
90  여  20대     현금  4.0  1800
95  여  60대  모바일페이  1.0  4000

In [76]:
df.iloc[150,9] # 행 인덱스 150번 데이터, 열 인덱스 9번 컬럼 값 출력

3800

In [78]:
df.iloc[150][9] # 동일한 결과이나, 위와는 작동방식이 조금 다름
# type(df.iloc[150]) -> series 출력됨.
# 시리즈 중, 9번째 값을 의미
# `df.iloc[150][9]`은 시리즈를 먼저 추출한 후, 그 시리즈의 9번째 요소를 다시 찾는 방식입니다.  
# 열 순서가 바뀌면 다른 열이 출력될 수 있으므로, `.iloc[150, 9]`처럼 한 번에 지정하는 것이 더 안전합니다.

C:\Users\pooko\AppData\Local\Temp\ipykernel_18232\2055994402.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[150][9] # 동일한 결과이나, 위와는 작동방식이 조금 다름

3800

#### iloc는.
.iloc는 어떤 특정 단일 데이터 값을 출력하여, 이를 비교하는 방법으로 많이 활용된다.

In [ ]:
## 인덱스를 지정하여 결과 출력
idx = [1,3,5,7,9]
df.iloc[idx,[5,13,3,5]]
# idx에 포함된 행 중에
# 열번호 5,13,3,5를 출력
# 5가 두번 들어갔는데,동일 컬럼을 두번 넣는것도 가능

### loc 방식의 필터링
* .loc[n, [컬럼 리스트]] 형태로 활용하거나,  
* .loc[조건] 형태로 활용함

In [ ]:
df.loc[0:10:2,'매장명':'수량']

In [ ]:
df.loc[30:10:-5, ['상품코드','고객ID','연령대']]

### 조건에 의한 필터링

| 연산자 | 의미             | 예시                        |
|--------|------------------|-----------------------------|
| `==`   | 같다             | `df['성별'] == '남성'`     |
| `!=`   | 같지 않다        | `df['연령대'] != '30대'`   |
| `>`    | 크다             | `df['단가'] > 3000`         |
| `<`    | 작다             | `df['수량'] < 5`            |
| `&`    | 그리고 (and)     | `(조건1) & (조건2)`        |
| `|`    | 또는 (or)        | `(조건1) | (조건2)`        |
| `()`   | 우선순위 지정    | 꼭 괄호로 감싸야 오류 없음 |

In [ ]:
df.loc[df['수량'] >= 5].shape
# 판매수량 5개 이상인 데이터는? 37개
# 조건 연산자는 1차수 확인

In [ ]:
df.loc[(df['수량'] >= 5) & (df['단가'] < 3000)].shape
# 판매수량 5개 이상이면서, 단가 3000원 미만인 데이터는? 12개

In [ ]:
df.loc[(df['수량'] >= 5) & (df['단가'] >= 2000) & (df['단가'] < 3000)].shape
# 판매수량 5개 이상이면서, 단가 2천원 이상, 3천원 미만인 데이터는? 5개

In [ ]:
# 조건이 점점 복잡해지면 이렇게 할 수 있습니다.
con1 = df['할인율'] == 0.1
con2 = df['상품명'] == '닭가슴살팩'
con3 = df['단가'] >= 3000
df.loc[con1 & con2 & con3]  # 3 조건을 모두 만족

In [ ]:
con3 = df['단가'] >= 5000  # con3만 조건 수정
df.loc[con1 & (con2 | con3)] # 할인율이 0.1이면서 → (닭가슴살팩이거나 단가가 5천원 이상) 인 조건

In [ ]:
# 평균 마진률 이하이면서, 마진액이 1,000원 미만인 데이터 수
mean_margin = df.마진율.mean()
con4 = df['마진율'] <= mean_margin
con5 = df['마진액'] <= 1000
# .mean()으로 평균을 구합니다. 
# df['마진율'] 을 df.마진율 로 쓸수도 있습니다만, df['컬럼명']을 권장합니다.
df.loc[con4 & con5].shape   # (30, 14) -> 30개

### (파생변수)새로운 컬럼 생성
* 파생변수 라고 합니다. 기존의 데이터들로부터, 새로운 데이터(정보)를 만들 수 있습니다.
* 보통은 숫자 데이터의 조합으로 만들어냅니다.
* df[새로운_변수명] = df[기존1] * df[기존2] 방식입니다.
  * 아주 간단합니다.

In [ ]:
df
# 데이터 기준으로 총 매출액은 수량*단가에서 할인금액을 제외한 금액입니다.
# 판매가 = 수량*단가 (할인 전 금액)
# 할인금액 = 판매가 - 매출액 을 만들어봅시다.

#### 사례1 - 판매가

In [ ]:
df['판매가'] = df['수량'] * df['단가']

In [ ]:
df.info()  ## 판매가 추가 확인.

#### 사례 2 - 할인금액

In [ ]:
df['할인금액'] = df['판매가'] - df['매출액']
df

In [ ]:
df.info()

In [ ]:
df.describe()

#### 파생변수를 통한 데이터 필터링

In [ ]:
# 할인금액 기준 75%분위수 이상, 연령대 30대 이하, 매출액 1만원 미만 데이터를 출력
q3 = df['할인금액'].quantile(0.75)
con6 = df['할인금액'] >= q3
con7 = df['연령대'] <= '30대'
con8 = df['매출액'] < 10000
df.loc[con6 & con7 & con8]
# 조건 요약:
# - 할인금액이 상위 25%에 해당하면서 (`con6`)
# - 연령대가 30대 이하이며 (`con7`)
# - 매출액이 1만원 미만인 (`con8`) 경우만 필터링

#### 사례3 - 그룹별 편차
* 상황
  * 매장명,성별 그룹별로 매출액 평균과, 각 거래의 매출액과 차이를 구한 '편차' 컬럼을 구해보자.
  * (응용문제) 아직은 어려우실수 있습니다. groupby는 다음 차수에 자세하게 설명드리겠습니다.
  * 일단 맛보기로 해봅시다.

In [ ]:
# 그룹별 평균을 구합니다.
group_avg = df.groupby(['매장명','성별'])['매출액'].mean().round().astype('int64')
# 경고는 무시

##### 코드설명
* group_avg = 블라블라블라.  -> a = 1 입니다. group_avg라는 변수에, 다음 내용을 넣는겁니다.
* df.groupby(['그룹기준1','그룹기준2','그룹기준3'...])  -> 기준별로 데이터의 그룹을 만들어줍니다.
* ['매출액'] -> 그룹을 지은 후, 매출액을 추출,
* .mean() 평균을 구합니다. (그룹별로 구분하여 평균을 구함)
* .round() 1자리로 반올림, .astype('int64') 정수 타입으로 형식 변경

In [ ]:
group_avg  # 그룹별 평균을 구했다.

※ 출력결과를 보면 ***Name:매출액*** 으로 적혀있습니다.  
이 series의 이름이 매출액이라는 의미지요.  
이대로 사용하면, 기존 df에 있는 '매출액'과 이름이 같아 충돌됩니다.  
이것을 바꿔주어야 합니다.

In [ ]:
group_avg.rename('그룹별평균_tmp', inplace=True)
# rename으로 이름을 바꿔줍니다, _tmp로 임시로 저장하는 것으로 처리해줍니다.
# inplace=True를 통해, group_avg 자체를 바꿔줍니다. a = 1 효과
# inplace=True를 사용하지 않으면, 이렇게 해야합니다.
# -> group_avg = group_avg.rename('그룹평균')

In [ ]:
group_avg #이름이 바뀌었는지 확인

In [ ]:
# 그룹별 평균을 기존 df에 병합(엑셀의 vlookup)
df['그룹별평균'] = df.merge(group_avg, on=['매장명', '성별'])['그룹별평균_tmp']
df.head(5)  #그룹별 평균이 붙었는지 확인

##### .merge() 코드설명
* .merge는 두 테이블을 하나로 합치는 기능입니다. 엑셀의 vlookup과 유사합니다.
  * 첫시간에 vlookup의 본질에 대해 설명드렸습니다. 두 테이블의 정보를 합치는 의미가 있다고 말씀드렸습니다.
  * ***df***.merge(***group_avg***) 에서 볼 수 있듯. df 데이터를 기준으로, group_avg 데이터를 합칩니다.
* on 은 데이터를 가져올 때의 기준입니다.
  * 여기서는 group_avg는 매장명, 성별을 기준으로 구한 집계값을 넣어주는 것입니다.
* ***df.merge(group_avg, on=['매장명', '성별'])*** 자체가 하나의 큰 df입니다.
  * type(df.merge(group_avg, on=['매장명', '성별'])) 으로 확인해보세요
  * df이름['컬럼이름']으로 하나의 컬럼만 시리즈로 불러올 수 있습니다.
* df['그룹별평균'] = df.merge(~~~~~)['그룹별평균_tmp']
  * df의 그룹별평균으로, df.merge한 또 하나의 df의 임시 컬럼임 그룹별평균_tmp를 저장해줍니다.

In [ ]:
# 편차를 구하기 매출액 - 평균
df['편차'] = df['매출액'] - df['그룹별평균']
df.sample(5)

In [ ]:
df['편차'].plot.hist()  # 차트까지 그려볼 수 있다. 차트는 나중에 자세히 배워볼께요.

### ✍️ 필터링 연습하기
1. df에서 매장명이 '명동점'인 데이터만 출력해보세요.
2. df에서 인덱스 50~100번 행의 '상품명', '매출액' 컬럼만 출력해보세요.
3. df에서 인덱스 50~100번 행 중 '할인율'이 0.2 이상인 데이터를 필터링하세요.

### ✅ 다중 조건 필터링
1. 다음 조건에 맞는 데이터를 추출해보세요:
   - 수량이 3 이상이고, 단가가 2000 미만인 데이터만 필터링하세요.
2. 다음 조건에 맞는 데이터를 추출해보세요:
   - 할인율은 0.2 이상
   - 결제수단은 '카드'
   - 성별은 '여성'