# 데이터 불러오기
 - 분석과정 개요
 - 마케팅 데이터를 분석합니다.

## 디렉토리를 지정합니다.

#### 다섯번째 제목 줄까지 된다.

In [4]:
print('안녕하세요')

안녕하세요

In [64]:
a = 10
b = 3
c = '1' # ""  ''' '''  """ """
a + b

13

In [30]:
type(a), type(c)

(int, str)

In [91]:
키 = 8
나이 = 130
print(f'안녕하세요. 나이는 "{나이}"살이고, 키는 {키}cm입니다.') #

안녕하세요. 나이는 "130"살이고, 키는 8cm입니다.

# 비교연산

In [182]:
a = 10
print(a)

10

In [194]:
a += 5   #a = a + 5
print(a)

40

In [281]:
a = '안녕하세요도서관입니다'

In [208]:
# 981231-1234567
    #01234567890123 
a = '981231-1234567'
a   # 연도, 월, 일

'981231-1234567'

In [235]:
#연도
연도 = a[0:2]   # 0번쨰, 1번쨰 출력(2번 바로 전까지 ) 
#월
월 = a[2:4]
#일
일 = a[4:6]

In [243]:
연도, 월, 일       # 날짜, 시간 , 'datetime'

('98', '12', '31')

In [261]:
시작 = 0
종료 = 2
a[::3]

'92-36'

In [255]:
a[:]

'981231-1234567'

In [285]:
# 리스트
a = [1 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [283]:
a

'안녕하세요도서관입니다'

In [291]:
a.append(11)

In [295]:
a.insert( 1 ,'일번에 넣을거' )

In [303]:
a.pop()

11

In [329]:
a.pop()

IndexError: pop from empty list

In [331]:
a

[]

In [ ]:
a = [1,2,3,4,5]

In [333]:
b = {
    'name':'홍길동',
    'age': 40,
    '키': 170
}

In [339]:
b   # key

{'name': '홍길동', 'age': 40, '키': 170}

In [357]:
import pandas as pd
import numpy as np

In [373]:
df = pd.read_csv('매출데이터.csv')

In [385]:
df

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액
0,2024-03-03,명동점,P1009,유기농 당근,C5447,여,60대,현금,3.0,1800,0.00,5400.0,0.28,1512.0
1,2024-03-04,홍대점,P1005,닭가슴살팩,C9831,여,20대,모바일페이,3.0,4000,0.10,10800.0,0.32,3456.0
2,2024-03-07,강남점,P1006,블루베리,C3202,여,50대,모바일페이,4.0,5000,0.15,17000.0,0.40,6800.0
3,2024-03-11,명동점,P1003,저지방 우유,C1239,여,50대,현금,5.0,2200,0.10,9900.0,0.25,2475.0
4,2024-03-11,강남점,P1007,그릭요거트,C9368,남,50대,모바일페이,2.0,3800,0.10,6840.0,0.33,2257.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2025-02-25,명동점,P1007,그릭요거트,C1896,남,40대,모바일페이,4.0,3800,0.05,14440.0,0.33,4765.2
196,2025-02-26,강남점,P1004,통밀 식빵,C8696,남,50대,카드,4.0,3500,0.00,14000.0,0.28,3920.0
197,2025-02-27,명동점,P1003,저지방 우유,C2047,남,20대,모바일페이,2.0,2200,0.00,4400.0,0.25,1100.0
198,2025-02-28,홍대점,P1008,오트밀,C8563,여,60대,모바일페이,3.0,3200,0.05,9120.0,0.30,2736.0
199,2025-02-28,명동점,P1003,저지방 우유,C6486,여,20대,카드,3.0,2200,0.15,5610.0,0.25,1402.5

In [399]:
df['내가만든_매출액_컬럼'] = df['수량'] * df['단가']

In [401]:
df

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액,내가만든_매출액_컬럼
0,2024-03-03,명동점,P1009,유기농 당근,C5447,여,60대,현금,3.0,1800,0.00,5400.0,0.28,1512.0,5400.0
1,2024-03-04,홍대점,P1005,닭가슴살팩,C9831,여,20대,모바일페이,3.0,4000,0.10,10800.0,0.32,3456.0,12000.0
2,2024-03-07,강남점,P1006,블루베리,C3202,여,50대,모바일페이,4.0,5000,0.15,17000.0,0.40,6800.0,20000.0
3,2024-03-11,명동점,P1003,저지방 우유,C1239,여,50대,현금,5.0,2200,0.10,9900.0,0.25,2475.0,11000.0
4,2024-03-11,강남점,P1007,그릭요거트,C9368,남,50대,모바일페이,2.0,3800,0.10,6840.0,0.33,2257.2,7600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2025-02-25,명동점,P1007,그릭요거트,C1896,남,40대,모바일페이,4.0,3800,0.05,14440.0,0.33,4765.2,15200.0
196,2025-02-26,강남점,P1004,통밀 식빵,C8696,남,50대,카드,4.0,3500,0.00,14000.0,0.28,3920.0,14000.0
197,2025-02-27,명동점,P1003,저지방 우유,C2047,남,20대,모바일페이,2.0,2200,0.00,4400.0,0.25,1100.0,4400.0
198,2025-02-28,홍대점,P1008,오트밀,C8563,여,60대,모바일페이,3.0,3200,0.05,9120.0,0.30,2736.0,9600.0
199,2025-02-28,명동점,P1003,저지방 우유,C6486,여,20대,카드,3.0,2200,0.15,5610.0,0.25,1402.5,6600.0

In [423]:
df.sample(5)

,거래일자,매장명,상품코드,상품명,고객ID,성별,연령대,결제수단,수량,단가,할인율,매출액,마진율,마진액,내가만든_매출액_컬럼
58,2024-06-19,잠실점,P1008,오트밀,C3105,여,30대,현금,3.0,3200,0.10,8640.0,0.30,2592.0,9600.0
21,2024-04-05,강남점,P1009,유기농 당근,C2355,남,40대,카드,2.0,1800,0.10,3240.0,0.28,907.2,3600.0
82,2024-08-01,강남점,P1005,닭가슴살팩,C6280,여,60대,현금,5.0,4000,0.15,17000.0,0.32,5440.0,20000.0
32,2024-04-30,홍대점,P1003,저지방 우유,C1366,여,60대,현금,4.0,2200,0.10,7920.0,0.25,1980.0,8800.0
168,2024-12-30,홍대점,P1007,그릭요거트,C0878,남,40대,모바일페이,2.0,3800,0.05,7220.0,0.33,2382.6,7600.0

In [425]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일자         200 non-null    object
 1   매장명          200 non-null    object
 2   상품코드         200 non-null    object
 3   상품명          200 non-null    object
 4   고객ID         198 non-null    object
 5   성별           200 non-null    object
 6   연령대          198 non-null    object
 7   결제수단         200 non-null    object
 8   수량           198 non-null    float64
 9   단가           200 non-null    int64
 10  할인율          198 non-null    float64
 11  매출액          196 non-null    float64
 12  마진율          200 non-null    float64
 13  마진액          196 non-null    float64
 14  내가만든_매출액_컬럼  198 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 23.6+ KB

In [427]:
df.describe()

,수량,단가,할인율,매출액,마진율,마진액,내가만든_매출액_컬럼
count,198.000000,200.000000,198.000000,196.000000,200.000000,196.000000,198.000000
mean,3.030303,3128.000000,0.080303,8721.020408,0.312400,2814.601020,9524.747475
std,1.392179,963.669703,0.055791,5107.607998,0.041797,1899.872263,5549.760473
min,1.000000,1800.000000,0.000000,1530.000000,0.250000,428.400000,1800.000000
25%,2.000000,2200.000000,0.050000,4475.000000,0.280000,1333.800000,5000.000000
50%,3.000000,3200.000000,0.100000,7785.000000,0.300000,2302.750000,8900.000000
75%,4.000000,3800.000000,0.150000,12307.500000,0.330000,3840.000000,12800.000000
max,5.000000,5000.000000,0.150000,23750.000000,0.400000,9500.000000,25000.000000

In [431]:
df.columns

Index(['거래일자', '매장명', '상품코드', '상품명', '고객ID', '성별', '연령대', '결제수단', '수량', '단가',
       '할인율', '매출액', '마진율', '마진액', '내가만든_매출액_컬럼'],
      dtype='object')

In [435]:
df['내가만든_매출액_컬럼']

0       5400.0
1      12000.0
2      20000.0
3      11000.0
4       7600.0
        ...
195    15200.0
196    14000.0
197     4400.0
198     9600.0
199     6600.0
Name: 내가만든_매출액_컬럼, Length: 200, dtype: float64

In [221]:
import pandas as pd
import numpy as np

# 데이터 처리
 - 데이터를 처리해서 예측을 합니다.

# 데이터 분석결과 저장
 - 분석결과를 저장합니다.