### 컬럼 타입 바꾸기
데이터를 적절하게 처리하기 위해서는 적절한 형식으로 변환해주어야합니다.
다음과 같은 절차로 진행해 보겠습니다.
 1. 컬럼과 타입을 먼저 확인, 어떻게 바꿔야 할 지 검토
 2. 컬럼 리스트를 출력하여 복사합니다.
 3. 타입별로 컬럼을 구분합니다.
 4. 카테고리별로 컬럼 타입을 지정합니다.
 5. describe()로 결과를 확인

In [ ]:
# 1. 컬럼 타입 확인
df.info()   # 14개 컬럼, 8 수량 제외 모두 object 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래일자    200 non-null    object
 1   매장명     200 non-null    object
 2   상품코드    200 non-null    object
 3   상품명     200 non-null    object
 4   고객ID    198 non-null    object
 5   성별      198 non-null    object
 6   연령대     198 non-null    object
 7   결제수단    200 non-null    object
 8   수량      198 non-null    float64
 9    단가     200 non-null    object
 10  할인율     198 non-null    float64
 11   총매출액   196 non-null    object
 12  마진율     200 non-null    float64
 13   마진액    196 non-null    object
dtypes: float64(3), object(11)
memory usage: 22.0+ KB

##### 컬럼의 구분
※ df.columns 후 컬럼별로 구분해줌
- 날짜 : '거래일자'
- 텍스트 : '매장명', '상품코드', '상품명', '고객ID'
- 카테고리
  - 바이너리: '성별'
  - 순위: '연령대'
  - 명목: '결제수단' (카드, 현금 등 종류가 제한되나, 이들 간 서열은 없음)
- 숫자
  - 정수: '수량', '단가', '총매출액', '마진액'
  - 소수: '할인율', '마진율'

In [ ]:
# 2. 컬럼 리스트 출력
df.columns

Index(['거래일자', '매장명', '상품코드', '상품명', '고객ID', '성별', '연령대', '결제수단', '수량', ' 단가 ',
       '할인율', ' 총매출액 ', '마진율', ' 마진액 '],
      dtype='object')

In [ ]:
# 3. 컬럼별로 카테고리 지정
data_cols = ['거래일자']   # 리스트로 만들어줍니다.
# text_cols = ['매장명', '상품코드', '상품명', '고객ID']  # text_cols는 굳이 지정해줄 필요가 없긴 합니다. 이미 object로 되어있습니다.
cat_cols = ['성별', '연령대', '결제수단']  # 다른 카테고리이나 일단은 같이 묶어줍니다.
int_cols = ['수량', '단가', '총매출액', '마진액']
float_cols = ['할인율', '마진율']

In [ ]:
# 4. 컬럼 타입 지정(단일 컬럼 바꾸기)
## '거래일자' 컬럼은 현재 object 형태입니다. date로 바꿔주겠습니다.
df['거래일자'] = pd.to_datetime(df['거래일자'])
#결과확인
df.info() #  0   거래일자    200 non-null    '''datetime64[ns]''' 로 나오면 정상

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래일자    200 non-null    datetime64[ns]
 1   매장명     200 non-null    object
 2   상품코드    200 non-null    object
 3   상품명     200 non-null    object
 4   고객ID    198 non-null    object
 5   성별      198 non-null    object
 6   연령대     198 non-null    object
 7   결제수단    200 non-null    object
 8   수량      198 non-null    float64
 9    단가     200 non-null    object
 10  할인율     198 non-null    float64
 11   총매출액   196 non-null    object
 12  마진율     200 non-null    float64
 13   마진액    196 non-null    object
dtypes: datetime64[ns](1), float64(3), object(10)
memory usage: 22.0+ KB

##### to_datetime 코드설명
``` python
df['거래일자'] = pd.to_datetime(df['거래일자'])
```
* 시리즈 (Series)
  * df는 데이터프레임 전체이며, ['컬럼명']으로 데이터 프레임 중 일부 컬럼만을 불러올 수 있습니다.
  * type(df['거래일자']) 을 해보면 'Series' 라는 데이터 타입을 볼 수 있습니다.
  * 어떤 값만 한줄로 쭉 내려 적은 것으로, 1차원 데이터의 일종입니다.
* df['거래일자'] = 의 의미
  * 'a = 1' 과 동일합니다. a 라는 상자에 1을 넣는 것입니다.
  * df['거래일자'] 라는 상자에, = 이후의 데이터를 넣는 것입니다.
  * 기존 데이터가 있긴 한데, 덮어씌우는 것으로 생각하면 됩니다.
* pd.to_datetime: 판다스의 날짜 변환 함수
  * 판다스pd의, to_datetime(날짜/시간으로) -> 말 그대로 날짜(date) 데이터로(to) 라는 의미입니다.
    * to_datetime(df['거래일자']) 라는 표현을 통해
    * 기존 텍스트로 저장된 df['거래일자']를,
    * to_datetime을 통해 날짜 형식으로 변환하고
    * = 을 통해 변환된 형식으로 저장합니다.

In [ ]:
# 4. 컬럼 타입 지정(여러 컬럼 한번에 바꾸기)
for col in int_cols:
    df[col] = pd.to_numeric(df[col]).astype('Int64')
df.info()

KeyError: '단가'